name: Build firmware

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-pio
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install PlatformIO Core
        run: pip install --upgrade platformio

      - name: Build PlatformIO Project (ESC1)
        run: pio run --environment disco_b_g431b_esc1

      - name: Build PlatformIO Project (V4)
        run: pio run --environment focstim_v4

      - name: Rename firmware binary (ESC1)
        run: |
          cd .pio/build/disco_b_g431b_esc1
          cp firmware.bin b_g431b_esc1_firmware.bin

      - name: Rename firmware binary (V4)
        run: |
          cd .pio/build/focstim_v4
          cp firmware.bin focstim_v4_1_firmware.bin

      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: firmwares
          path: |
            .pio/build/disco_b_g431b_esc1/b_g431b_esc1_firmware.bin
            .pio/build/focstim_v4/focstim_v4_1_firmware.bin

      - name: Release nightly
        uses: softprops/action-gh-release@v1
        with:
          prerelease: true
          name: nightly
          tag_name: nightly
          files: |
            .pio/build/disco_b_g431b_esc1/b_g431b_esc1_firmware.bin
            .pio/build/disco_b_g431b_esc1/focstim_v4_1_firmware.bin
          fail_on_unmatched_files: true